body {
    margin: auto;
    width: 90%;
    max-width: 1000px;
    min-width: 300px;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: #95CDBA;
    font-family: "EB Garamond", serif;
    text-rendering: optimizeLegibility;
}

#content {
    background-color: white;
    padding-bottom: 25px;
    padding-top: 25px;
}

#title {
    text-align: center;
    padding-top: 25px;
    color: #ee2e24;
    font-family: "Raleway", sans-serif;
    font-size: 4vw;
}

#text {
    margin-left: 10em;
    margin-right: 2.5em;
    font-size: 2.5vw;
}

#search {
    font-size: 2.5vw;
    padding-bottom: 20px;
}

#table {
    overflow: hidden;
    width: 100%;
    max-width: 400px;
}

#row #table {
    display: block;
}

#table #box {
    display: inline-block;
    float: left;
    vertical-align: top;
    height: 2em;
    max-height: 32px;
}

#box {
    width: 50%;
}

#errorbox {
    display: inline-block;
    float: left;
    vertical-align: top;
    height: 100%;
    max-height: 32px;
    width: 100%;
    padding-left: 4px;
    background: #ee2e24;
    font-weight: 500;
    margin: 2px;
    color:white;
}

#id_genome_file, #id_gff_file {
    font-family: "EB Garamond", serif;
    border: none !important;
}

input[type="text"] {
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

@media (min-width: 900px) {
    #title {
        font-size: 38px;
    }

    #text {
        font-size: 22px;
    }

}
@media (min-width: 750px) {
    #search {
        font-size: 18px;
    }
}

@media (max-width: 650px) {
    #title {
        font-size: 26px;
    }

    #text {
        font-size: 16px;
        margin-left: 6em;
        margin-right: 2em;
    }
    #search {
        font-size: 16px;
    }
}

@media (max-width: 450px) {
    #text {
        margin-left: 8px;
        margin-right: 8px;
    }
}
