body {
    margin: auto;
    width: 90%;
    max-width: 1000px;
    min-width: 300px;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: #95CDBA;
    font-family: "EB Garamond", serif;
    text-rendering: optimizeLegibility;
}

#content {
    background-color: white;
    padding-bottom: 25px;
    padding-top: 25px;
}

#title {
    text-align: center;
    padding-top: 25px;
    color: #ee2e24;
    font-family: "Raleway", sans-serif;
    font-size: 4vw;
}

#text {
    margin-left: 10em;
    margin-right: 2.5em;
    font-size: 2.5vw;
    transition-property: all;
    transition-duration: .5s;
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

#search {
    font-size: 2.5vw;
    padding-bottom: 20px;
    display: block;
}

#table {
    overflow: hidden;
    width: 100%;
    max-width: 500px;
}

#row #table {
    display: block;
}

#box {
    display: inline-block;
    float: left;
    vertical-align: top;
    height: 2em;
    max-height: 32px;
    background-color: inherit;
    width: 50%;
}

#errorbox {
    display: inline-block;
    float: left;
    vertical-align: top;
    height: 100%;
    max-height: 32px;
    width: 100%;
    padding-left: 4px;
    background: #ee2e24;
    font-weight: 500;
    margin: 2px;
    color: white;
}

#id_genome_file, #id_gff_file {
    font-family: "EB Garamond", serif;
    border: none !important;
}

input[type="text"] {
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

a {
    font-family: "Raleway", sans-serif;
    text-decoration: none;
    color: black;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
}

a:hover {
    background-color: #fcf5f6;
}

a {
    text-decoration: none;
    color: inherit;
    -moz-transition-property: background;
    -webkit-transition-property: background;
    transition-property: background;
    -moz-transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;

}

div.nav a:active div {
    background: #fdfdfd;
}

a:active {
    color: #777;
}

a:after {
    position: relative;
    top: -0.10em;
    color: #993;
}


#results {
    width: 100%;
    max-width: 800px;
    padding-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
}

.png {
    width: 100%;
    height: same-as-width;
    max-width: 800px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#navbar {
    overflow: hidden;
    width: auto;
    padding-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

#navrow #navbar {
    display: block;
}

#navbar #navbox {
    display: inline-block;
    float: left;
    height: 1.5em;
    max-height: 32px;
    vertical-align: middle;
}

#navbox {
    text-align: center;
    width: 25%;
    font-family: "Raleway", sans-serif;
    font-size: 2vw;
}

#navbox:hover {
    background-color: #fbf7f7;
}

input[type=checkbox] {
    display: none;
}

label {
    cursor: pointer;
    user-select: none;
}

.downloads {
    display: none;
    font-family: "Raleway", sans-serif;
    position:absolute;
    text-align: center;
    right: 6%;
    background-color: #fcf5f6;
    margin-top: 30px;
    padding: 10px;
    z-index: 100;
    width: 200px;
    height: 100px;
}

input[type=checkbox]:checked ~ .downloads {
    display: block;
}

hr {
    border: 0;
    height: 1px;
    background: #333;
    margin-left: 10px;
    margin-right: 10px;
}

#res_table {
    overflow: hidden;
    width: 100%;
    max-width: 550px;
}

#pai_row:hover {
    background-color: #fbf7f7;
}

#gene_row #res_table {
    display: block;
}

#header_row {
    display: block;
}

#gene_el, #gene_ID {
    display: inline-block;
    float: left;
    vertical-align: top;
    height: 1.8em;
    max-height: 32px;
    width: 19%;
}

#header_el, #header_ID {
    width: 19%;
    background-color: #fcf5f6;
    display: inline-block;
    float: left;
    vertical-align: top;
    height: 1.8em;
    max-height: 32px;
}

#header_ID {
    margin-left: 3%;
    width: 40%;
}

#gene_ID {
    margin-left: 3%;
    width: 40%;
}

#genes {
    display: none;
}

input[type=checkbox]:checked ~ #genes {
    display: block;
}

@media (min-width: 1120px) {
    .downloads {
        right: auto;
        margin-left: 760px;
    }
}

@media (min-width: 900px) {
    #title {
        font-size: 38px;
    }
    #navbox {
        font-size: 20px;
    }
    #text {
        font-size: 22px;
    }
}

@media (min-width: 750px) {
    #search {
        font-size: 18px;
    }
}

@media (max-width: 650px) {
    #title {
        font-size: 26px;
    }
    #navbox {
        font-size: 14px;
    }
    #text {
        font-size: 16px;
        margin-left: 6em;
        margin-right: 2em;
    }

    #search {
        font-size: 16px;
    }
}

@media (max-width: 450px) {
    #text {
        margin-left: 8px;
        margin-right: 8px;
    }
}
