<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <link href='https://fonts.googleapis.com/css?family=EB+Garamond' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{% static 'index.css' %}" />
    <meta charset="UTF-8">
    <title>PAI Search</title>
</head>
<body>
<div id="content">
    <div id="title">Pathogenicity Island Search</div>
    <div id="text">
        {% if joblist %}
            <ul>
                {% for job in joblist %}
                    <li><a href="{% url 'results' job %}#title">{{ job }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No previous results to show</p>
        {% endif %}
        <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <div id="search">
            <form enctype="multipart/form-data" method="post" action="/pai/">
                {% csrf_token %}
                <div id="table">
                    <div id="row">
                        <div id="box" style="width:100%; text-align:center; font-family: Raleway, sans-serif;">Search</div>
                    </div>
                    {% for error in errors %}
                        <div id="row">
                            <div id="errorbox">{{ error }}</div>
                        </div>
                    {% endfor %}
                    <div id="row">
                        <div id="box">Job Name</div>
                        <div id="box">{{ form.job_name }}</div>
                    </div>
                    <div id="row">
                        <div id="box">Fasta file</div>
                        <div id="box">{{ form.genome_file }}</div>
                    </div>
                    <div id="row">
                        <div id="box">Optional gff</div>
                        <div id="box">{{ form.gff_file }}</div>
                    </div>
                    <input type="submit" value="Submit" />
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>