<!DOCTYPE html>
<html lang="en">
<head>
    <link href='https://fonts.googleapis.com/css?family=EB+Garamond' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
    {% load staticfiles %}
    <script src="{% static 'highchart/jquery-1.9.1.min.js' %}"></script>
    <script src="{% static 'highchart/highcharts.js' %}"></script>
    <script src="{% static 'highchart/highcharts-more.js' %}"></script>
    <script src="{% static 'highchart/exporting.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'index.css' %}"/>
    <meta charset="UTF-8">
    <title>PAI Search Results</title>
    <style>

    </style>
</head>
<body>

<div id="content">
    <div id="title">Pathogenicity Island Results</div>
    <div id="navbar">
    <div id="navrow">
        <a href="{% url 'PAI_WEB.views.index' %}"><div id="navbox">Home</div></a>
        <a href="#results"><div id="navbox">Chart</div></a>
        <a href="#res_table"><div id="navbox">Table</div></a>
        <div>
            <input type="checkbox" id="downloads-button" />
            <label for="downloads-button" id="navbox">Downloads</label>
            <div class="downloads">
                <form enctype="application/x-www-form-urlencoded" method="post" action="">
                    {% csrf_token %}
                    <br />
                    <div>{{ form.dl_type }}</div>
                    <br />
                    <input type="submit" value="Download"/>
            </form>
            </div>
        </div>
    </div>
    </div>
    <hr />
    <div id="results">
        <div id="chart">
            <img class="png" src="data:image/png;base64,{{ pngstring }}"></div>
        </div>
    <div id="text">
        {% if paigenes %}
            <div id="res_table">
                <center>Pathogenicity island predictions</center>
                <hr style="margin-left: 0; margin-right: 0;" />
                {% for pai in paigenes %}
                    <div id="PAI_table">
                        <input type="checkbox" id="table_button{{ forloop.counter }}" />
                        <label for="table_button{{ forloop.counter }}" id="pai_row">
                            <div id="box">Start: {{ pai.0 }}</div>
                            <div id="box"> End: {{ pai.1 }}</div>
                        </label>
                        <div id="genes">
                            <div id="header_row">
                                <div id="header_ID" >ID</div>
                                <div id="header_el">Start</div>
                                <div id="header_el">End</div>
                                <div id="header_el">Strand</div>
                            </div>
                        <div>
                            {% for gene in pai.2 %}
                                <div id="gene_row">
                                    <div id="gene_ID">{{ gene.3 }}</div>
                                    <div id="gene_el">{{ gene.0 }}</div>
                                    <div id="gene_el">{{ gene.1 }}</div>
                                    <div id="gene_el">{{ gene.2 }}</div>
                                </div>
                            {% endfor %}
                        </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <p>No pathogenicity islands found</p>
        {% endif %}
<script>
    $(function () {
        $('#chart').highcharts({
            {{ chart|safe }}
        });
    });
    var cw = $('#chart').width();
    $('#chart').css({
        'height': cw + 'px'
    });
    $(window).resize(function () {
        var cw = $('#chart').width();
        $('#chart').css({
            'height': cw + 'px'
        });
    });
</script>
</body>
</html>